!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/


### Themes Resources ####
themes/
temp/
target/
alipay-payment/src/test/
common/src/main/resources/
common/src/test/
logs/
payment-gateway-web/logs/
payment-gateway/
paypal-payment/src/test/
